@media (min-width: 1024px) {
    .ic-chat {
        width: 2rem;
        height: 2rem;
    }
}
.floating-content {
    pointer-events: none;
    bottom: 0;
    z-index: 2;
}
@media (min-width: 1024px) {
    .floating-content {
        z-index: 4;
    }
}
.floating-content .btn-whatsapp-link,
.floating-content .payment-alert {
    pointer-events: all;
}
.whatsapp-chat {
    z-index: 1;
    position: fixed;
    right: 1rem;
    bottom: 0;
    width: calc(100vw - 2rem);
    max-width: 25rem;
}
@media (min-width: 1024px) {
    .whatsapp-chat {
        z-index: 3;
    }
}
.whatsapp-chat-button {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 1rem;
    display: inline-block;
    padding: 1rem;
    color: #fff;
}
.whatsapp-chat-button:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50rem;
    background: #25d366;
    transition: all 0.2s ease-in-out;
}
.whatsapp-chat-button:hover {
    color: #fff;
}
.whatsapp-chat-button:hover:before {
    transform: rotate(180deg);
}
.whatsapp-chat-header {
    background: #005e54;
    color: #fff;
    padding: 0.625rem 0.625rem 0.625rem 1.25rem;
}
.whatsapp-chat-body {
    position: relative;
    padding: 1rem;
    font-size: 0.875rem;
    background: url(../images/bg-whatsapp.jpg) no-repeat;
    background-size: cover;
}
.whatsapp-chat-bubble {
    position: relative;
    z-index: 0;
    border-width: 0.375rem 0.75rem 0.375rem 1.5rem;
    border-style: solid;
    -o-border-image: url(../images/bg-whatsapp-chat-white.png) 8 20 8 30 stretch;
    border-image: url(../images/bg-whatsapp-chat-white.png) 8 20 8 30 stretch;
    color: #000 !important;
    margin-bottom: 0.25rem;
}
@media (min-width: 425px) {
    .whatsapp-chat-bubble {
        width: 85%;
    }
}
.whatsapp-chat-bubble:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    z-index: -1;
}
.whatsapp-chat-btn-submit {
    background: #128c7e;
    color: #fff;
}
.whatsapp-chat-btn-submit:hover {
    color: #fff;
}
.whatsapp-chat-green-bubble {
    border-width: 0.375rem 1rem 0.375rem 0.375rem;
    border-style: solid;
    width: 85%;
    -o-border-image: url(../images/bg-whatsapp-chat-green.png) 0 17 3 10 stretch;
    border-image: url(../images/bg-whatsapp-chat-green.png) 0 17 3 10 stretch;
    text-align: left;
    cursor: text;
    margin-bottom: 0;
    color: #000 !important;
}
.whatsapp-chat-green-bubble .form-control {
    width: 100%;
    border: 0;
    padding: 0.125rem 0.5rem;
    background: #dcf8c7 !important;
    box-shadow: none !important;
    border-radius: 0;
    font-size: 0.875rem;
    font-family: Roboto-Regular;
    color: #000 !important;
}
.whatsapp-chat-green-bubble .form-control.is-invalid ~ .invalid-feedback {
    display: block;
}
.whatsapp-chat-green-bubble .invalid-feedback {
    line-height: 1;
    font-size: 0.625rem;
    margin: 0;
    padding: 0 0.625rem;
    background: #dcf8c7;
}
.whatsapp-chat-green-bubble .lh-25 {
    line-height: 25px;
}
.lh-1 {
    line-height: 0.25px;
}
.ls-2 {
    letter-spacing: 0.5px;
}
.ls-5 {
    letter-spacing: 3px;
}
.lh-0 {
    line-height: 0;
}
.lh-1 {
    line-height: 1px;
}
.ls-2 {
    letter-spacing: 2px;
}
.ls-5 {
    letter-spacing: 5px;
}
.lh-16 {
    line-height: 16px;
}
.lh-18 {
    line-height: 18px;
}
.lh-20 {
    line-height: 20px;
}
.fill-danger {
    fill: #cc172e;
}
@media (min-width: 1024px) {
    a:hover .fill-danger {
        fill: #870f1e;
    }
}

.whatsapp-icon {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 2rem;
    color: #adb5bd;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: 2rem 2rem;
}

.whatsapp-icon-close {
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1rem;
    color: #adb5bd;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: 1rem 1rem;
}
